@import "vars.styl"
$fa-font-path = "../../libs/bower_components/font-awesome-stylus/fonts"

@import "../../libs/bower_components/bootstrap-stylus/stylus/bootstrap.styl"
@import "../../libs/bower_components/font-awesome-stylus/stylus/index.styl"

body{
  background-image: url("/app/images/body-bg.png");
}
  

.navbar-brand{
  font-size 20px;
}
  
.container{
  width 1250px;
}
