<!--<h3>{{filter}}</h3>-->

<div class="row">
	<div class="col-lg-5">
		<h4>json templates</h4>
		{{filters}}
	</div>
	<div class="col-lg-4">
		<form-builder form-template="filters" ng-model="setFilters"></form-builder>
	</div>
	<div class="col-lg-3">
		{{setFilters}}
	</div>
</div>

<!--
<form role="form" name="formFilter">
	<dl ng-repeat="filter in filters">
		<dt>{{filter.title}}</dt>
		<dd>
			<div class="checkbox" ng-repeat="val in filter.values">
				<label>
					<input type="checkbox" name="filter.name" mg-model="f">
					{{val.label}}
				</label>
			</div>
		</dd>
	</dl>
</form>
-->
